# Dependencies
node_modules/
data/

# Environment variables
.env

# OS files
.DS_Store

# IDE files
.idea/
/shelf/
/workspace.xml
/httpRequests/

# TypeScript build output
dist/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
