<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        script(src="scripts/main.js")
        script(src="https://kit.fontawesome.com/ac389a6c76.js" crossorigin="anonymous")
        title #{pageTitle}
    body
        .container
            nav.navbar.navbar-default.navbar-static-top
                .container
                    .navbar-header
                        a.nav-link(href="/home" aria-label="Homepage") Home
                    a.nav-link(href="/tasks" aria-label="tasks")
                        i.fas.fa-list
                    a.nav-link(href="/add-a-task" aria-label="Add a task")
                        i.fas.fa-plus
                    a.nav-link(href="/wp" aria-label="Settings")
                        i.fas.fa-cog
        block content

        footer
            .container
                p
                | Yari &copy; 2020 |
                i.fa.fa-person(aria-hidden='true') &nbsp;
                a(href='#') View Source