ul(id="task-list" class="list-group" style="list-style-type: none")
    if tasklist.length > 0
        each task in tasklist
            li(id="task-item")
                .container
                    .row.m-1
                        a.list-group-item(id="modify-state") #{task.title}
                        // Delete form
                        form.m-2(action="/admin/delete-task", method="get")
                            input(type="hidden", name="taskText" value=task.title)
                            button.btn.btn-light(type="submit")
                                i.fa.fa-trash(aria-hidden="true")
    else
        li(id="task-item" class="list-group-item disabled")
            a(id="modify-state") Niente