extends layouts/main-layout.pug

block content
    .container
        .row
            p WORK'IN PROGREESSSSSSSS
    .carousel.slide#carouselExampleSlidesOnly(data-ride="carousel")
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(alt="First Slide" src="/images/Woman shooting a red fish.jpeg")
            .carousel-item
                img.d-block.w-100(alt="Second slide" src="/images/Grandma Shooting.jpeg")
            .carousel-item
                img.d-block.w-100(alt="Third slide" src="/images/Asian Girl with pizza in a sewer hole sewer.jpeg")
