extends layouts/main-layout.pug

block content
    .todo-container
        .todo-form
            h4.mb-4 
                i.fas.fa-tasks.text-primary.mr-2
                | Compito da fare
            form(action="/" method="post")
                .input-group
                    input.form-control(type="text" name="taskText" id="taskText" placeholder="Inserisci un nuovo compito..." required)
                    .input-group-append
                        button.btn.btn-primary(type="submit")
                            i.fas.fa-plus.mr-2
                            | Aggiungi
        
        .todo-list.animate__animated.animate__fadeIn
            include layouts/tasks-layout.pug