<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="IE=7")
        link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", crossorigin="anonymous")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css", rel="stylesheet")
        link(href="/css/enhanced-todo.css", rel="stylesheet")
        script(src="scripts/main.js")
        title #{pageTitle}
    body.bg-light
        nav.navbar.navbar-expand-lg.navbar-light.bg-white.mb-4
            .container
                a.navbar-brand(href="/") 
                    i.fas.fa-check-double.text-primary.mr-2
                    | Todo List
                .navbar-nav.ml-auto
                    a.nav-link.mx-2(href="/" title="Home")
                        i.fas.fa-home.fa-fw
                    a.nav-link.mx-2(href="/" title="Compiti")
                        i.fas.fa-list.fa-fw
                    a.nav-link.mx-2(href="/" title="Aggiungi")
                        i.fas.fa-plus.fa-fw
        
        .container
            block content

        footer.text-center.text-muted.mt-5
            .container
                p.mb-0
                    | Yari EngineerDogIta 2025 made with 
                    i.fas.fa-heart.text-danger.mx-1
                    | |
                    a.text-decoration-none.ml-2(href='https://github.com/EngineerDogIta/lazy-todolist-nodejs')
                        i.fab.fa-github.fa-fw.mr-1
                        | View Source

        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")