include ../mixins/task-mixin.pug

if tasklist.length > 0
    .list-group
        each task in tasklist
            if !task.parentTask
                +renderTask(task)
else
    .empty-state
        i.fas.fa-clipboard-check.mb-3
        p.lead.mb-0 Nessun compito da fare